body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
 }
 .Forma{
    border: 2px dotted black;
    gap: 5px;
    display: grid;
    grid-template-columns: 100%;
    height: fit-content;
    width: 100%;
 }
 .div-Deca{
    gap: 5px;
    display: grid;
    grid-template-columns: 100%;
    height: fit-content;
    width: 100%;
 }
 .divZaFormu{
     padding: 10px;
     gap: 10px;
     display: grid;
     grid-template-columns: 1fr 1fr;
     justify-items: stretch;
 }
 .margin{
     padding: 5px;
 }
.dugme-Upisi{
     margin-bottom: 5px;
     margin-left: 5px;
     margin-right: 5px;
     padding: 2px;
     text-align: center;
     font-size: medium;
 }
 .GrupeForma{
     padding: 30px;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     width: fit-content;
     height: fit-content;
     gap: 20px;
 }
 .div-Grupa{
     display: grid;
     grid-template-columns: 1fr;
     border-radius: 10px;
     padding: 10px;
 }
 .LabelaGrupe{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
 }